<%= form_with(model: @rental, local: true) do |f| %>
  <% if @rental.errors.any? %>
    <h2><% @rental.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @rental.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :物件名 %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :賃料 %><br>
    <%= f.text_field :rent %>円
  </div>
  <div>
    <%= f.label :住所 %><br>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :築年数 %><br>
    <%= f.text_field :age %>年
  </div>
  <div>
    <%= f.label :備考 %><br>
    <%= f.text_field :note %>
  </div>
  <%= f.submit '登録する' %>
<% end %>
