<p>物件名: <%= @rental.name %></p>
<p>賃料: <%= @rental.rent %>円</p>
<p>住所: <%= @rental.address %></p>
<p>築年数: <%= @rental.age %>年</p>
<p>備考: <%= @rental.note %></p>
<div class="border"></div>
<% if @rental.stations.any? %>
  <% @stations.each_with_index do |station, i| %>
    <h2>最寄り駅 <%= i + 1 %></h2>
    <p>路線名 <%= station.route %>線</p>
    <p>駅名 <%= station.name %>駅</p>
    <p>徒歩分数 <%= station.distance %>分</p>
  <% end %>
<% end %>

<%= link_to '編集', edit_rental_path%> | <%= link_to '戻る', rentals_path %>
